.Seo-container{
    display: flex;
    width: 100%;
    height: 40rem;
}

.Seo-container__left{
    margin: 5rem 10rem;
}

.Seo-container__left-img{
    width: 40rem;
    height:30rem;
}

.Seo-container__right{
    margin-right:10rem;
    margin-top:  7rem ;
    width: 100%;
    font-family:Helvetica;
    text-align: left;
}

.Seo-container__right__title{
    padding-top: 3rem;
    line-height: 4rem;
    font-size: 30px;
    font-weight: 100;
    color: #0e1015;
}

.Seo-container__right__subtitle{
    color: #abb8c3;
    font-size: 15px;
    line-height: 24px;
}

.Seo-container__right-btn{
    line-height: 6rem;
    border: 3px solid #745cf9;
    padding: 1rem 3rem;
    background-color: #745cf9;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}

.Seo-container__right-btn:hover{
    border: 3px solid #5d47d7;
    background-color: #5d47d7;
}
