.details-modal {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 12rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.detail-modal__body{
    display: flex;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.detail-modal__left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.img-fluid{
    width: 50rem;
    height: 30rem;
    margin-left: 1rem;
}

.detail-modal__right{
    flex: 1;
}

.details-modal__subtitle{
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 5rem 10rem 0 5rem;
    font-size: 30px;
}

.details-modal__text{
    font-size: 14px;
    line-height: 24px;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #8c979e;
    font-weight: 400;
    padding: 5rem 10rem 5rem 5rem;
}

  